
body {
    background-color: aquamarine;
}

header {
    background-color: white;
    height: 80px;
}

.header_container, .footer_container {
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin:auto;
}

.logo_image {
    height:45px;
}

.logo_text {
    font-size: 32px;
    font-weight: bold;
}

.selection{
    width: 200px;
}

img{
    max-height: 100%;
}


main{
    height: calc(100vh - 140px);
}



.container {
    max-width: 500px;
    margin:auto;
}


.cell {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    color:black;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.active{
    background-color:cornflowerblue ;
    color:white;
}

.btn{
    background-color: lightgray;
    color:black;
    height: 20px;
    padding: 12px 10px;
    width:100px;
}

footer {
    background-color: white;
    height: 60px;
    
}

/* footer .container_footer{
    width: 80%;
    margin:auto;
   
} */