
body {
    background-color: aquamarine;
}

.container {
    width: 800px;
    margin:auto;
}


.cell {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    color:black;
    display:  flex;
    align-items: center;
    justify-content: center;
}

.active{
    background-color:cornflowerblue ;
}